
.person-my-button{
    width: 225px;
}

.box-fix{
    position: relative;
    top: 55px;
}

.fix-index{
    position: relative;
    z-index: 2;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

section.bg-top{
    width: 100%;
    min-height: 400px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.chamada{
    background-color: #3FA3C5;
}

section.chamada h2{
    font-size: 34px;
}

section.sobre{
    background-color: #cccccc93;
}

section.convite{
    background-color: #3FA3C5;
}

section.convite h3{
    font-weight: 400;
}

.custom-title{
    color: #888;
    font-size: 38px;
    text-align: center;
}